body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-size: 120px;
    color: rgba(78, 52, 46, 0.5);
    text-transform: uppercase;
    position: relative;
}

h1::before {
    content: "#PlantTrees";
    position: absolute;
    top: 0%;
    left: 0%;
    color: #2E7D32;
    width: 0%;
    overflow: hidden;
    transition: all 0.6s;
}

h1:hover::before {
    width: 100%;
}